
.blocky-example-button {
  background-color: rgb(52, 184, 220);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(139, 216, 237);

  &:hover {
    background-color: rgb(90, 197, 226);
  }
}
