
.item {
  display: flex;
  align-items: center;
  height: 28px;
  line-height: 28px;
  padding: 0px 20px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: var(--blocky-example-font);
  font-size: 13px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:global(.active) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.content {
  margin-left: 8px;
  flex-grow: 1;
}

.subTitle {
  font-family: var(--blocky-example-font);
  font-size: 13px;
  padding-left: 20px;
  font-weight: 500;
  color: rgb(137, 137, 137);
  margin-top: 16px;
  margin-bottom: 4px;
}