.blocky-example-app-window {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.blocky-example-app-body {
  display: flex;
  flex: 1;
}

.blocky-example-sidebar-container {
  min-width: 260px;
  max-width: 260px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--border-color);
  flex-shrink: 0;
  padding-top: 1rem;

  header {
    padding: 0px 28px;
  }

  .logo {
    width: 200px;
    margin-bottom: 18px;
    margin-top: 28px;
  }
}

.blocky-example-container {
  height: 100%;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex: 1;
}

body {
  margin: 0px;
  background-color: var(--bg-color);
}

.blocky-example-title-container > input {
  outline: none;
  border: none;
  font-size: 32px;
  padding: 0px;
  font-weight: 600;
}

:root {
  --bg-color: white;
  --border-color: #e0e0e0;
  --primary-text-color: black;
  --danger-color: rgb(201, 56, 56);
}

[data-theme="dark"] {
  --bg-color: #161625;
  --border-color: #1d1d2b;
  --primary-text-color: #c3c3bf;
}

.blocky-example-editor-container {
  flex: 50%;
  max-width: 50%;
  position: relative;

  &.left {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: grey;
  }
}

.blocky-example-content-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.blocky-example-user {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 14px;
  color: white;
  padding-left: 56px;
  padding-right: 56px;

  span {
    font-size: 11px;
    padding: 4px;
    border-radius: 8px;
  }
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  p {
    margin-left: 10px;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary-text-color);
  }
}

.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 44px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 14px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 14px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .blocky-example-app-window {
    overflow: hidden;
  }

  .blocky-example-container {
    width: 100%;
    box-shadow: none;
  }

  .blocky-example-editor-container.right {
    display: none;
  }

  .blocky-example-editor-container {
    max-width: 100%;
  }

  .blocky-example-sidebar-container {
    display: none;
  }
}

.blocky-seo {
  width: 100%;
  padding: 1rem;

  p, li, h1, h2, h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  img {
    width: 100%;
  }
}
