
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  transform: translateY(-1px);

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: var(--hover-color);
  }

  &:global(.dark) {
    svg {
      fill: white;
    }
  }
}