.blocky-documents {
  max-width: 580px;
  font-family: var(--blocky-font);
}

.blocky-documents:focus {
  outline: none;
}

.blocky-editor-container {
  position: relative;
  --color-neutral-muted: rgba(175, 184, 193, 0.2);
  --blocky-primary-color: black;
  display: flex;
  justify-content: center;
}

.blocky-editor-spanner-delegate {
  position: absolute;
  transition: top 0.1s linear;
  z-index: 8;
}

.blocky-editor-toolbar-delegate {
  position: absolute;
  z-index: 11;
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.blocky-cm-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.blocky-block-text-content {
  margin-bottom: 4px;
  color: var(--blocky-primary-color);
}

.blocky-block-text-content:empty::before {
  content: attr(placeholder);
  color: gray;
}

.blocky-editor-title-container {
  font-size: 32px;
  font-weight: 700;
  color: var(--blocky-primary-color);
}

.blocky-editor-title-container:empty::before {
  content: attr(placeholder);
  color: gray;
}

.blocky-text-anchor {
  cursor: pointer;
  color: rgb(52, 184, 220);
}

.blocky-block-text-content {
  font-weight: 400;
  font-size: 15px;
}

.blocky-h1 {
  padding-top: 8px;
  padding-bottom: 4px;
  font-size: 28px;
  font-weight: 500;
}

.blocky-h2 {
  padding-top: 8px;
  padding-bottom: 4px;
  font-size: 24px;
  font-weight: 500;
}

.blocky-h3 {
  padding-top: 8px;
  padding-bottom: 4px;
  font-size: 20px;
  font-weight: 500;
}

.blocky-default-block-outline {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.blocky-default-block-outline:hover {
  box-shadow: 0 0 0 1pt rgb(171, 211, 222);
}

.blocky-editor-block {
  margin-top: 2px;
  display: flex;
  position: relative;
}

.blocky-content {
  width: 100%;
}

.blocky-left-pad {
  display: flex;
  justify-content: center;
  width: 26px;
  min-width: 26px;
}

.blocky-left-pad.quote {
  justify-content: start;
  padding-bottom: 4px;
  width: 14px;
  min-width: 14px;
}

.blocky-quote-pad {
  border-left: 3px solid black;
}

.blocky-bullet-content:before {
  content: "•";
  color: var(--blocky-primary-color);
}

.blocky-number-content:before {
  content: var(--pseudoBefore--content);
  color: var(--blocky-primary-color);
}

.blocky-collaborative-cursor-rect {
  position: absolute;
  z-index: -1;
}

.blocky-cursor-label {
  font-family: var(--blocky-font);
  position: absolute;
  pointer-events: none;
  padding: 4px;
  color: white;
  font-size: 11px;
  z-index: 9;
}

.blocky-text-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.blocky-editor-title-container {
  padding-top: 24px;
  padding-bottom: 8px;
  font-size: 32px;
  font-weight: 600;
}

.blocky-follow-widget {
  position: absolute;
  z-index: 10;
}

.blocky-checkbox {
  margin-top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 12px;
  box-shadow: 0px 0px 0px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocky-checkbox-center {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 50%;
  background-color: rgb(239, 169, 41);
}

.blocky-search-range {
  position: absolute;
  background-color: rgb(240, 198, 119);
  z-index: -1;
}

.blocky-search-range.active {
  background-color: rgb(235, 154, 4);
}

.blocky-bold-text {
  font-weight: 600;
}

.blocky-italic-text {
  font-style: italic;
}

.blocky-code-text {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
}

.blocky-drag-over-bar {
  position: absolute;
  width: 100%;
  background-color: rgb(171, 211, 222);
  left: 0px;
  height: 2px;
}
