
.blocky-documents:focus {
  outline: none;
}

.blocky-editor-container {
  position: relative;
}

.blocky-editor-blocks-container {
  padding: 12px 56px 32px 56px;
}

.blocky-editor-banner-delegate {
  position: absolute;
}
