
.blocky-default-fonts {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blocky-documents:focus {
  outline: none;
}

.blocky-editor-container {
  position: relative;
}

.blocky-editor-blocks-container {
  padding: 12px 56px 72px 56px;
}

.blocky-editor-banner-delegate {
  position: absolute;
}

.blocky-editor-toolbar-delegate {
  position: absolute;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.blocky-cm-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.blocky-block-text-content:empty::before {
  content: attr(placeholder);
  color: gray;
}

.blocky-text-anchor {
  cursor: pointer;
  color: rgb(52, 184, 220);
}

.blocky-heading1 {
  padding-top: 8px;
  font-size: 32px;
  font-weight: 600;
}

.blocky-heading2 {
  padding-top: 8px;
  font-size: 28px;
  font-weight: 600;
}

.blocky-heading3 {
  padding-top: 8px;
  font-size: 24px;
  font-weight: 600;
}

.blocky-default-block-outline {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.blocky-default-block-outline:hover {
  box-shadow: 0 0 0 1pt rgb(171, 211, 222);
}

.blocky-default-block-outline.outline {
  box-shadow: 0 0 0 1pt rgb(52, 184, 220);
}

.blocky-editor-block {
  margin-bottom: 4px;
  display: flex;
}

.blocky-bullet {
  display: flex;
  justify-content: center;
  width: 24px;
  min-width: 24px;
}

.blocky-bullet-content::before {
  content: "•";
}
