.blocky-bold-text {
  font-weight: 600;
}

.blocky-italic-text {
  font-style: italic;
}

.blocky-code-text {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
}
