
.blocky-documentations {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: row;
  // padding: 36px;

  .sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    width: 280px;
    padding: 36px 0px 36px 120px;
    overflow-y: scroll;

    .logo {
      width: 220px;
      margin-bottom: 18px;
    }

    .badge-container {
      margin-bottom: 14px;

      a {
        margin-right: 8px;
      }
    }
  }
  .sidebar-item {
    display: block;
    cursor: pointer;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--primary-text-color);
    text-decoration: none;
  }

  .headings {
    padding-left: 28px;
  }

  .page-item {
    padding-bottom: 14px;
    color: var(--primary-text-color);
  }

  .main-content {
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    overflow-y: scroll;
    color: var(--primary-text-color);

    .md-content {
      padding-top: 8px;;
      padding-bottom: 128px;
      overflow-x: hidden;
      position: absolute;
      width: 100%;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 920px;
    }

    .md-container {
      padding-left: 36px;
      padding-right: 36px;
    }

    h1 {
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: #45D0D0;
      padding-bottom: 8px;
      padding-top: 8px;
    }

    h2 {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #45D0D0;
      padding-bottom: 8px;
      padding-top: 8px;
    }

    h3 {
      padding-top: 8px;
    }

    pre {
      width: 100%;
      overflow-x: auto;
    }

    img {
      width: 60%;
    }
  }
  @media only screen and (max-width: 920px) {
    .sidebar {
      display: none;
    }
    .md-content {
      position: relative;
      padding-left: 24px;
      padding-right: 24px;
      transform: none;
      left: auto;
      right: auto;
      width: 100%;
    }
  }
}
