
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 240px;
  position: relative;
}

.icon {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blur {
  position: absolute;
  filter: blur(100px);
  opacity: .8;
  z-index: -1;
}