
.blocky-menu {
  background-color: var(--main-bg-color, white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.blocky-menu-item {
  width: 240px;
  padding: 8px 12px;
  font-size: 14px;
  color: rgb(72, 72, 72);

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
