.blocky-example-app-window {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.blocky-example-container {
  width: 1280px;
  height: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  margin: 0px;
  background-color: var(--bg-color);
}

.blocky-example-badge-container {
  padding: 0px 56px;

  a {
    margin-right: 8px;
  }
}

.blocky-example-title-container > input {
  outline: none;
  border: none;
  font-size: 32px;
  padding: 0px;
  font-weight: 600;
}

:root {
  --bg-color: white;
  --primary-text-color: black;
  --danger-color: rgb(201, 56, 56);
}

[data-theme="dark"] {
  --bg-color: #161625;
  --primary-text-color: #c3c3bf;
}

.blocky-example-editors {
  display: flex;
}

.blocky-example-editor-container {
  flex: 50%;
  max-width: 50%;
  overflow-x: scroll;
}

.blocky-example-user {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 14px;
  color: white;
  padding-left: 56px;
  padding-right: 56px;

  span {
    font-size: 11px;
    padding: 4px;
    border-radius: 8px;
  }
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  padding: 0px 56px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;

  p {
    margin-left: 10px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary-text-color);
  }
}

.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 52px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .blocky-example-app-window {
    overflow: hidden;
  }

  .blocky-example-container {
    width: 100%;
    box-shadow: none;
  }

  .blocky-example-editor-container.right {
    display: none;
  }

  .blocky-example-editor-container {
    max-width: 100%;
  }
}
