
.blocky-example-toolbar-container {
  background-color: var(--main-bg-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  padding: 0px;
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
}

.blocky-toolbar-menu-button {
  background-color: var(--main-bg-color);
  border: none;
  margin: 0px;
  height: 24px;

  &.rect {
    width: 24px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.bold {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
  }

  &.italic {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }

  &.underline {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
  }
}

.blocky-example-anchor-toolbar {
  position: fixed;
  padding: 4px 8px;

  input {
    border: none;
    margin-right: 8px;

    &:focus {
      outline: none;
    }
  }

  button {
    font-size: 12px;
    padding: 2px 4px;
  }
}
